<div>
  <kendo-button look="outline">Send</kendo-button>
  <kendo-button look="flat">Send</kendo-button>
  <kendo-button look="clear">Send</kendo-button>
  <kendo-button look="default">Send</kendo-button>
</div>
<br>
<div>
  <kendo-button [togglable]="true">Toggle</kendo-button>
  <kendo-button [primary]="true">Primary</kendo-button>
  <kendo-button [icon]="'login'">Login</kendo-button>
</div>
<br>
<kendo-buttongroup [width]="'50'" >
  <kendo-button [togglable]="true">Toggle</kendo-button>
  <kendo-button [primary]="true">Primary</kendo-button>
  <kendo-button [icon]="'login'">Login</kendo-button>
</kendo-buttongroup>
