.dots,
.image,
.state,
.pin {
  opacity: 0;
  transition: 0.5s;
}

.icons {
  opacity: 1;
  transition: 0.5s;
}

.vertical-div:hover {
  .dots,
  .image,
  .state,
  .pin {
    opacity: 1;
  }

  .icons {
    opacity: 0;
  }

  transition: 0.5s;
}

.sett {
  margin-left: -48%;
  scale: 0;
  transition: 0.2s;
}

.sett:hover {
  scale: 1;
}

.dots:hover + .sett {
  scale: 1;
  transition: 0.2s;
}
