<div class="dark:bg-stone-900 page dark:text-white pt-8">
  <div class="flex">
    <app-sidebar classe="finished"></app-sidebar>
    <div class="flex-1">
      <div class="px-6 lg:px-16">
        <div
          class="todo-list horizontal"
          *ngIf="todoservice.finished.length > 0"
        >
          <app-to-do
            [todo]="todo"
            class="todo"
            *ngFor="let todo of todoservice.finished"
          ></app-to-do>
        </div>
        <div
          class="text-center text-lg font-semibold"
          *ngIf="todoservice.finished.length == 0"
        >
          Hiç biten yapacağın yok. 🤨
        </div>
      </div>
    </div>
  </div>
</div>
