<div
  class="dark:text-white text-black flex items-center justify-between p-2 dark:bg-stone-900 px-4 lg:px-20"
>
  <div>
    <img *ngIf="auth.darkMode=='dark'" src="https://icon-library.com/images/writing-icon-png/writing-icon-png-13.jpg"
         alt="Tasks Icon"
         class="w-8 h-8 invert">
    <img *ngIf="auth.darkMode!='dark'" src="https://icon-library.com/images/writing-icon-png/writing-icon-png-13.jpg"
         alt="Tasks Icon"
         class="w-8 h-8">

  </div>

  <div class="flex items-center gap-5">

    <a routerLink="/todos">
      Tasks
    </a>
    <span>•</span>
    <a routerLink="/"> Home </a>
    <span>•</span>
    <a routerLink="/favorites">
      Favorites
    </a>
    <span>•</span>
    <kendo-icon
      name="brightness-contrast"
      size="large"
      class="cursor-pointer"
      (click)="
      auth.darkMode == 'light'
        ? auth.toggleDarkMode('dark')
        : auth.toggleDarkMode('light')
    "
    ></kendo-icon>
  </div>

  <div>
    <div (click)="auth.signOut()" *ngIf="auth.user"
         class="bg-black dark:bg-white shadow-md hover:shadow-lg rounded-full duration-300 cursor-pointer dark:text-black text-white p-1 px-2">
      <span>
    Çıkış Yap
    </span>
    </div>
    <button
      class="flex items-center gap-1 bg-black dark:bg-stone-600 shadow-md hover:shadow-lg rounded-full duration-300 cursor-pointer text-white p-1 px-2"
      routerLink="/sign-in" *ngIf="!auth.user">
      Giriş Yap
    </button>
  </div>

</div>
