<div class="login-div dark:bg-stone-800 p-4 text-black dark:text-white">
  <form
    class="w-full mt-5 shadow-md rounded-lg p-4"
    [formGroup]="loginForm"
    (submit)="
      password?.errors || email?.errors
        ? null
        : service.loginWithEmailPsw(loginForm.value)
    "
  >
    <h1 class="lg:text-xl text-[#721a29]  text-lg text-center font-medium">
      Giriş Yap
    </h1>
    <div class="flex justify-center">
      <div class="lg:w-3/4 w-full">
        <!-- Email -->
        <div>
          <div class="flex items-center gap-1 text-medium">
            <kendo-icon name="email" size="large"></kendo-icon>
            <p>Email</p>
          </div>
          <input
            type="text"
            formControlName="email"
            [ngClass]="email?.errors && email?.touched ? 'border-red-500' : ''"
            class="bg-gradient-to-br from-gray-200 to-gray-300 dark:from-stone-700 dark:to-stone-800 text-red-500 rounded-md w-full p-1 outline-none border dark:border-stone-700"
          />
        </div>
        <app-error-messages
          name="email"
          name2="email"
          [max]="40"
          [min]="5"
          [form]="loginForm"
          [email]="true"
          [required]="true"
        ></app-error-messages>
        <!-- Password -->
        <div>
          <div class="flex items-center mt-4 gap-1 text-medium">
            <kendo-icon name="lock" size="large"></kendo-icon>
            <p>Şifre</p>
          </div>
          <input
            type="password"
            [ngClass]="
              password?.errors && password?.touched ? 'border-red-500' : ''
            "
            class="bg-gradient-to-br from-gray-200 to-gray-300 dark:from-stone-700 dark:to-stone-800 text-red-500 rounded-md w-full p-1 outline-none border dark:border-stone-700"
            formControlName="password"
          />
        </div>
        <app-error-messages
          name="password"
          name2="Şifre"
          [max]="40"
          [min]="6"
          [form]="loginForm"
          [email]="false"
          [required]="true"
        ></app-error-messages>
        <!-- Login -->
        <div class="flex justify-center mt-4">
          <kendo-button
            class="w-1/2"
            [ngClass]="password?.errors || email?.errors ? 'opacity-50' : ''"
          >
            Giriş Yap
          </kendo-button>
        </div>
        <!-- OR -->
        <div class="flex justify-center">
          <div
            class="w-full lg:w-1/2 h-[2px] bg-gray-200 dark:bg-stone-700 rounded-md mt-5 relative"
          >
            <div
              class="px-1 h-8 border-2 bottom-0 bg-gray-200 dark:bg-stone-700 translate-y-1/2 absolute right-1/2 translate-x-1/2 border-gray-300 dark:border-stone-700 grid place-items-center rounded-lg"
            >
              YADA
            </div>
          </div>
        </div>
        <!-- Google and Github -->
        <div class="flex justify-center mt-6 gap-4">
          <!-- Google -->
          <button
            (click)="service.loginWithGmail()"
            class="border-2 rounded-full border-gray-300 p-1"
          >
            <img
              src="https://cdn-icons-png.flaticon.com/512/2991/2991148.png"
              class="w-7 google-icon"
              alt="Google"
            />
          </button>
          <!-- Github -->

        </div>
        <!-- Dont have an account? -->
        <div class="text-center font-light mt-4 flex items-center justify-center gap-3">
          <div>
            Zaten hesabın var mı?
          </div>
          <kendo-button class="pt-[0.6rem] px-1 h-6" routerLink="/sign-up">
            Kayıt Ol
          </kendo-button>
        </div>
      </div>
    </div>
  </form>
</div>
