@tailwind base;
@tailwind components;
@tailwind utilities;

$kendo-selected-border: green;
$kendo-button-bg: green;
$primary: green;
$kendo-button-bg: green;

.height-div {
  min-height: calc(100vh - 49px);
}
.height-div-1 {
  min-height: calc(100vh - 48px);
}

.horizontal {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.vertical {
  padding-top: 20px;
  padding-left: 14vw;
  padding-right: 14vw;
}

.vertical .todo {
  padding: 10px;
}

.vertical > .todo > div {
  opacity: 0.3;
}

@media only screen and (max-width: 768px) {
  .vertical {
    padding-top: 20px;
    padding-left: 4vw;
    padding-right: 4vw;
  }
}
