@tailwind base;
@tailwind components;
@tailwind utilities;

$kendo-selected-border: green;
$kendo-button-bg: green;
$primary: green;
$kendo-button-bg: green;

.height-div {
  min-height: calc(100vh - 49px);
}
.height-div-1 {
  min-height: calc(100vh - 48px);
}
