@tailwind base;
@tailwind components;
@tailwind utilities;

.height-div {
  min-height: calc(100vh - 49px);
}
.height-div-1 {
  min-height: calc(100vh - 48px);
}

.horizontal {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.vertical {
  padding-left: 14vw;
  padding-right: 14vw;
}

.horizontal > .todo > div {
  max-width: 300px;
}

.vertical > .todo > div {
  width: 100% !important;
  margin: 20px 0 20px 0;
}

@media only screen and (max-width: 1024px) {
  .vertical {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media only screen and (max-width: 768px) {
  .vertical {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
