<div class="dark:bg-stone-900 height-div dark:text-white text-black">
  <div class="flex justify-center pt-10">
    <img src="assets/homep.svg" alt="" class="lg:w-1/4 w-1/2" />
  </div>
  <h3 class="text-center text-3xl mt-4 font-bold font-sans">
    Not almanın en basit yolu.
  </h3>
  <div class="grid place-items-center">
    <p class="text-center lg:w-1/2 w-3/4 mt-3">
      Bütün notların kullandığın bütün cihazlarında senkronize. BigNotes'u iOS,
      Android, Mac, Windows, Linux ve ya internetinden eriş. Lorem, ipsum dolor
      sit amet consectetur adipisicing elit. Placeat, eaque.
    </p>
  </div>
  <div class="flex justify-center mt-3">
    <button
      kendoButton
      class="text-center bg-indigo-800 text-white shadow-md hover:shadow-lg rounded-md"
    >
      Şimdi Kayıt Ol
    </button>
  </div>
</div>
